<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <jmxConfigurator />

    <property scope="context" name="logDir" value="${catalina.home}/logs" />
    <property name="app" value="data-upload-ws" />

    <contextName>${app}-${app.id}</contextName>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%C{20}:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.flowid" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.apache.cxf" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
